.div1 {
  grid-area: 1 / 3 / 2 / 4;
}
.div2 {
  grid-area: 1 / 7 / 2 / 8;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 2 / 4 / 3 / 5;
}
.div6 {
  grid-area: 2 / 6 / 3 / 7;
}
.div7 {
  grid-area: 2 / 7 / 3 / 8;
}
.div8 {
  grid-area: 2 / 8 / 3 / 9;
}
.div9 {
  grid-area: 3 / 1 / 4 / 2;
}
.div10 {
  grid-area: 3 / 2 / 4 / 3;
}
.div11 {
  grid-area: 3 / 3 / 4 / 4;
}
.div12 {
  grid-area: 3 / 4 / 4 / 5;
}
.div13 {
  grid-area: 3 / 5 / 4 / 6;
}
.div14 {
  grid-area: 3 / 6 / 4 / 7;
}
.div15 {
  grid-area: 3 / 7 / 4 / 8;
}
.div16 {
  grid-area: 3 / 8 / 4 / 9;
}
.div17 {
  grid-area: 3 / 9 / 4 / 10;
}
.div18 {
  grid-area: 4 / 1 / 5 / 2;
}
.div19 {
  grid-area: 4 / 2 / 5 / 3;
}
.div20 {
  grid-area: 4 / 3 / 5 / 4;
}
.div21 {
  grid-area: 4 / 4 / 5 / 5;
}
.div22 {
  grid-area: 4 / 5 / 5 / 6;
}
.div23 {
  grid-area: 4 / 6 / 5 / 7;
}
.div24 {
  grid-area: 4 / 7 / 5 / 8;
}
.div25 {
  grid-area: 4 / 8 / 5 / 9;
}
.div26 {
  grid-area: 4 / 9 / 5 / 10;
}
.div27 {
  grid-area: 5 / 1 / 6 / 2;
}
.div28 {
  grid-area: 5 / 2 / 6 / 3;
}
.div29 {
  grid-area: 5 / 3 / 6 / 4;
}
.div30 {
  grid-area: 5 / 4 / 6 / 5;
}
.div31 {
  grid-area: 5 / 5 / 6 / 6;
}
.div32 {
  grid-area: 5 / 6 / 6 / 7;
}
.div33 {
  grid-area: 5 / 7 / 6 / 8;
}
.div34 {
  grid-area: 5 / 8 / 6 / 9;
}
.div35 {
  grid-area: 5 / 9 / 6 / 10;
}
.div36 {
  grid-area: 6 / 1 / 7 / 2;
}
.div37 {
  grid-area: 6 / 2 / 7 / 3;
}
.div38 {
  grid-area: 6 / 3 / 7 / 4;
}
.div39 {
  grid-area: 6 / 4 / 7 / 5;
}
.div40 {
  grid-area: 6 / 5 / 7 / 6;
}
.div41 {
  grid-area: 6 / 6 / 7 / 7;
}
.div42 {
  grid-area: 6 / 7 / 7 / 8;
}
.div43 {
  grid-area: 6 / 8 / 7 / 9;
}
.div44 {
  grid-area: 6 / 9 / 7 / 10;
}
.div45 {
  grid-area: 7 / 2 / 8 / 3;
}
.div46 {
  grid-area: 7 / 3 / 8 / 4;
}
.div47 {
  grid-area: 7 / 4 / 8 / 5;
}
.div48 {
  grid-area: 7 / 5 / 8 / 6;
}
.div49 {
  grid-area: 7 / 6 / 8 / 7;
}
.div50 {
  grid-area: 7 / 7 / 8 / 8;
}
.div51 {
  grid-area: 7 / 8 / 8 / 9;
}
.div52 {
  grid-area: 8 / 3 / 9 / 4;
}
.div53 {
  grid-area: 8 / 4 / 9 / 5;
}
.div54 {
  grid-area: 8 / 5 / 9 / 6;
}
.div55 {
  grid-area: 8 / 6 / 9 / 7;
}
.div56 {
  grid-area: 8 / 7 / 9 / 8;
}
.div57 {
  grid-area: 9 / 4 / 10 / 5;
}
.div58 {
  grid-area: 9 / 5 / 10 / 6;
}
.div59 {
  grid-area: 9 / 6 / 10 / 7;
}
.div60 {
  grid-area: 10 / 5 / 11 / 6;
}
